@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy"), url("/fonts/Gilroy-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy"), url("/fonts/Gilroy-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  src: local("Gilroy"), url("/fonts/Gilroy-Semibold.woff2") format("woff2");
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-SURFACE text-ON_SURFACE leading-[130%] font-[Gilroy];
  }
}

@layer utilities {
  .h1 {
    @apply text-[32px] leading-10 md:text-[56px] md:leading-[64px] font-medium;
  }

  .h2 {
    @apply text-[24px] md:text-[40px] leading-8 md:leading-[48px] font-medium;
  }

  .h3 {
    @apply md:text-[24px] text-[20px] leading-7 md:leading-8 font-medium text-ON_SURFACE_VAR;
  }

  .h4 {
    @apply md:text-[16px] text-[12px] leading-6 font-normal text-ON_SURFACE_VAR;
  }

  .h5 {
    @apply text-[12px] leading-5 font-medium text-ON_SURFACE_VAR;
  }

  .text-18 {
    @apply text-[18px] leading-6 text-ON_SURFACE_VAR;
  }

  .text-28 {
    @apply text-[28px] leading-9 font-normal;
  }

  .position-center {
    @apply absolute top-1/2 -translate-x-1/2 left-1/2 -translate-y-1/2;
  }

  .overlay {
    @apply bg-[#171D1B]/[16%] size-full absolute top-0 left-0;
  }

  .grid-4 {
    @apply grid grid-cols-4 gap-8;
  }

  .card-shadow {
    @apply hover:drop-shadow-sm hover:shadow-md transition-shadow;
  }
}
